<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlv2KUUJLQPMBniXUgln_I35UVuPGflfE</string>
	<key>GCM_SENDER_ID</key>
	<string>77194760378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MSUMenuMate.menumate</string>
	<key>PROJECT_ID</key>
	<string>msu-menumate</string>
	<key>STORAGE_BUCKET</key>
	<string>msu-menumate.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77194760378:ios:6ac5565f28b555f961f283</string>
</dict>
</plist>